(wildcard_cert) {
    tls {
        dns cloudflare
        wildcard
    }
}

https://misitioba.com, https://www.misitioba.com {
	root projects/ba-landing/public_html
}

https://adminer.misitioba.com {
	import wildcard_cert
  proxy / localhost:19995
  basicauth / root {%ROOT_PWD%}
}

https://netdata.misitioba.com {
	import wildcard_cert
  proxy / localhost:19999
  basicauth / root {%ROOT_PWD%}
}

https://docker.misitioba.com {
	import wildcard_cert
	proxy / localhost:9000
}

https://mongo.misitioba.com {
	import wildcard_cert
	proxy / localhost:8081
}

https://api.misitioba.com {
	import wildcard_cert
	proxy / localhost:8084
}

https://editor.misitioba.com {
	import wildcard_cert
	proxy / localhost:3503
}

https://mongoapi.misitioba.com {
	import wildcard_cert
	proxy / localhost:8235
}

https://cms.misitioba.com {
	import wildcard_cert
	proxy / localhost:8130
}

https://hosting.misitioba.com {
	import wildcard_cert
	root sites/ba-hosting
}

https://incubadoraitinerante.com, https://www.incubadoraitinerante.com {
	proxy / localhost:8200
}

https://wrapkend.misitioba.com {
	proxy / localhost:3601
}

https://wrapkend.com, https://www.wrapkend.com {
	redir https://wrapkend.misitioba.com
}

