(wildcard_cert) {
    tls {
        dns cloudflare
        wildcard
    }
}

https://misitioba.com, https://www.misitioba.com {
	root projects/ba-landing/public_html
}

https://adminer.misitioba.com {
	import wildcard_cert
  proxy / localhost:19995
  basicauth / root {%ROOT_PWD%}
}

https://netdata.misitioba.com {
	import wildcard_cert
  proxy / localhost:19999
  basicauth / root {%ROOT_PWD%}
}

https://docker.misitioba.com {
	import wildcard_cert
	proxy / localhost:9000
}

https://mongo.misitioba.com {
	import wildcard_cert
	proxy / localhost:8081
}

https://api.misitioba.com {
	import wildcard_cert
	proxy / localhost:8084
}

https://mongoapi.misitioba.com {
	import wildcard_cert
	proxy / localhost:8235
}

https://cms.misitioba.com {
	import wildcard_cert
	proxy / localhost:8130
}

https://incubadoraitinerante.com, https://www.incubadoraitinerante.com {
	root projects/ii-landing/dist
}

bauges.misitioba.com {
  import wildcard_cert
	root projects/bauges/dist
}

https://enbauges.com, https://www.enbauges.com {
	root projects/bauges/dist
}

https://alvaro.misitioba.com {
  import wildcard_cert
	root projects/alvaro/dist
}

https://savoie.misitioba.com {
	import wildcard_cert
	proxy / localhost:7373
}

https://montech.misitioba.com {
  import wildcard_cert
	root projects/montech/public_html
}

https://arancibiajav.misitioba.com {
  import wildcard_cert
	root projects/arancibiajav/public_html
}

https://lesbaujardins.misitioba.com {
	import wildcard_cert
	redir https://savoie.misitioba.com/basket-hot?org=lesbaujardins
}

#laravel.misitioba.com {
#	import wildcard_cert
#    root ./public
#    log ./storage/logs/caddy-access.log
#    errors ./storage/logs/caddy-error.log
#	proxy / localhost:7378
#}
