@import url(../../common/css/helpers.css);
p.brand-rt1 .negative {
	color: yellow
}

p.brand-rt1 {
	color: snow
}

@media (min-width: 320px) {
	p.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	p.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 768px) {
	p.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 992px) {
	p.brand-rt1 {
		text-align: center;
		line-height: 82px;
		font-size: x-large;
		float: right
	}
}

@media (min-width: 1200px) {
	p.brand-rt1 {
		text-align: center
	}
}

h1.brand-rt1 {
	font-size: -webkit-xxx-large;
	color: snow
}

@media (min-width: 320px) {
	h1.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	h1.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 768px) {
	h1.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 992px) {
	h1.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 1200px) {
	h1.brand-rt1 {
		text-align: center
	}
}

a.brand-rt1 {
	text-align: center;
	text-decoration: none
}

@media (min-width: 320px) {
	a.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	a.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 768px) {
	a.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 992px) {
	a.brand-rt1 {
		text-align: center
	}
}

@media (min-width: 1200px) {
	a.brand-rt1 {
		text-align: center
	}
}

p.form-rt1>a.form-rt1 {
	display: inline;
	margin-left: 5px
}

p.form-rt1 {
	text-align: center;
	line-height: 40px;
	display: block
}

@media (min-width: 320px) {
	p.form-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	p.form-rt1 {
		text-align: center;
		margin: 0 auto
	}
}

@media (min-width: 768px) {
	p.form-rt1 {
		max-width: 50%
	}
}

@media (min-width: 992px) {
	p.form-rt1 {
		text-align: center
	}
}

@media (min-width: 1200px) {
	p.form-rt1 {
		text-align: center
	}
}

a.form-rt1 {
	text-align: center;
	line-height: 40px;
	display: block
}

@media (min-width: 320px) {
	a.form-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	a.form-rt1 {
		text-align: center;
		margin: 0 auto
	}
}

@media (min-width: 768px) {
	a.form-rt1 {
		max-width: 50%
	}
}

@media (min-width: 992px) {
	a.form-rt1 {
		text-align: center
	}
}

@media (min-width: 1200px) {
	a.form-rt1 {
		text-align: center
	}
}

button.form-rt1:disabled {
	display: block;
	background: cadetblue
}

button.form-rt1 {
	display: block;
	margin: 0 auto;
	min-width: 100%;
	min-height: 50px;
	margin-top: 20px;
	border-color: snow;
	font-size: larger
}

@media (min-width: 320px) {
	button.form-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	button.form-rt1 {
		text-align: center;
		min-width: 60%
	}
}

@media (min-width: 768px) {
	button.form-rt1 {
		max-width: 50%
	}
}

@media (min-width: 992px) {
	button.form-rt1 {
		text-align: center;
		min-width: 240px
	}
}

@media (min-width: 1200px) {
	button.form-rt1 {
		text-align: center
	}
}

form.form-rt1 {
	text-align: center;
	background: skyblue;
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	text-align: center
}

@media (min-width: 320px) {
	form.form-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	form.form-rt1 {
		text-align: center
	}
}

@media (min-width: 768px) {
	form.form-rt1 {
		max-width: 50%
	}
}

@media (min-width: 992px) {
	form.form-rt1 {
		text-align: center;
		margin-top: 50px
	}
}

@media (min-width: 1200px) {
	form.form-rt1 {
		text-align: center
	}
}

h2.form-rt1 {
	text-align: center;
	font-size: xx-large;
	background: snow;
	padding: 20px 0px
}

@media (min-width: 320px) {
	h2.form-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	h2.form-rt1 {
		text-align: center
	}
}

@media (min-width: 768px) {
	h2.form-rt1 {
		text-align: center
	}
}

@media (min-width: 992px) {
	h2.form-rt1 {
		text-align: center;
		margin: 15px auto;
		padding: 20px 0px
	}
}

@media (min-width: 1200px) {
	h2.form-rt1 {
		text-align: center
	}
}

hr.form-rt1 {
	min-width: 50%;
	max-width: 50%;
	border: 1px solid oldlace
}

@media (min-width: 320px) {
	hr.form-rt1 {
		min-width: 50%
	}
}

@media (min-width: 480px) {
	hr.form-rt1 {
		min-width: 20%;
		max-width: 20%
	}
}

@media (min-width: 768px) {
	hr.form-rt1 {
		max-width: 20%
	}
}

@media (min-width: 992px) {
	hr.form-rt1 {
		max-width: 20%
	}
}

@media (min-width: 1200px) {
	hr.form-rt1 {
		max-width: 20%
	}
}

label.form-rt1 {
	font-size: 20px;
	text-align: center;
	min-width: 100%;
	color: whitesmoke
}

@media (min-width: 320px) {
	label.form-rt1 {
		min-width: 100%
	}
}

@media (min-width: 480px) {
	label.form-rt1 {
		min-width: 100%
	}
}

@media (min-width: 768px) {
	label.form-rt1 {
		min-width: 100%
	}
}

@media (min-width: 992px) {
	label.form-rt1 {
		min-width: 100%
	}
}

@media (min-width: 1200px) {
	label.form-rt1 {
		min-width: 100%
	}
}

input.form-rt1 {
	min-width: 100%;
	min-height: 50px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	color: #001f3f;
	border: 0px;
	box-shadow: none;
	outline: none;
	background: snow
}

@media (min-width: 320px) {
	input.form-rt1 {
		min-width: 100%
	}
}

@media (min-width: 480px) {
	input.form-rt1 {
		min-width: 60%;
		margin: 0 auto;
		display: block
	}
}

@media (min-width: 992px) {
	input.form-rt1 {
		min-width: 240px
	}
}

a.panel-rt1,
h2.panel-rt1 {
	position: relative;
	z-index: 2
}

div.panel-rt1 {
	background: white;
	padding: 10px
}

@media (min-width: 320px) {
	div.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 480px) {
	div.panel-rt1 {
		text-align: left;
		padding: 40px 10px 50px 10px
	}
}

@media (min-width: 768px) {
	div.panel-rt1 {
		text-align: left;
		min-height: 200px;
		margin-top: 0px
	}
}

@media (min-width: 992px) {
	div.panel-rt1 {
		text-align: left;
		min-height: 400px;
		padding: 40px 30px 50px 30px
	}
}

@media (min-width: 1200px) {
	div.panel-rt1 {
		text-align: left
	}
}

h2.panel-rt1 {
	text-align: center;
	font-size: xx-large;
	background: white;
	padding: 20px 0px 0px 0px
}

@media (min-width: 320px) {
	h2.panel-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	h2.panel-rt1 {
		text-align: center
	}
}

@media (min-width: 768px) {
	h2.panel-rt1 {
		text-align: center
	}
}

@media (min-width: 992px) {
	h2.panel-rt1 {
		text-align: left;
		margin: 15px auto;
		padding: 20px 0px
	}
}

@media (min-width: 1200px) {
	h2.panel-rt1 {
		text-align: left
	}
}

ul.panel-rt1 {
	text-align: left;
	padding: 0px;
	padding-left: 30px;
	margin-top: 15px
}

@media (min-width: 320px) {
	ul.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 480px) {
	ul.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 768px) {
	ul.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 992px) {
	ul.panel-rt1 {
		text-align: left;
		font-size: medium
	}
}

@media (min-width: 1200px) {
	ul.panel-rt1 {
		text-align: left
	}
}

ul.panel-rt1>li {
	text-align: left
}

@media (min-width: 320px) {
	ul.panel-rt1>li {
		text-align: left
	}
}

@media (min-width: 480px) {
	ul.panel-rt1>li {
		text-align: left
	}
}

@media (min-width: 768px) {
	ul.panel-rt1>li {
		text-align: left
	}
}

@media (min-width: 992px) {
	ul.panel-rt1>li {
		text-align: left;
		font-size: medium
	}
}

@media (min-width: 1200px) {
	ul.panel-rt1>li {
		text-align: left
	}
}

p.panel-rt1 {
	padding: 0px 10px;
	text-align: left;
	line-height: 19px;
	display: block;
	margin: 0px;
	font-size: medium;
	font-weight: 100;
	word-spacing: 1px;
	text-align: justify;
	text-align: justify;
	margin-top: 10px
}

@media (min-width: 320px) {
	p.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 480px) {
	p.panel-rt1 {
		text-align: left;
		padding: 0px 0px
	}
}

@media (min-width: 768px) {
	p.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 992px) {
	p.panel-rt1 {
		text-align: left
	}
}

@media (min-width: 1200px) {
	p.panel-rt1 {
		text-align: left
	}
}

hr.panel-rt1 {
	min-width: 100%;
	max-width: 100%;
	border: 5px solid oldlace;
	margin-top: 0px
}

@media (min-width: 320px) {
	hr.panel-rt1 {
		min-width: 50%
	}
}

@media (min-width: 480px) {
	hr.panel-rt1 {
		min-width: 20%;
		max-width: 100%
	}
}

@media (min-width: 768px) {
	hr.panel-rt1 {
		max-width: 100%
	}
}

@media (min-width: 992px) {
	hr.panel-rt1 {
		max-width: 100%
	}
}

@media (min-width: 1200px) {
	hr.panel-rt1 {
		max-width: 100%
	}
}

button.panel-rt1 {
	display: block;
	margin: 0 auto;
	min-width: 100%;
	min-height: 50px;
	margin-top: 20px;
	border-color: white;
	font-size: larger
}

@media (min-width: 320px) {
	button.panel-rt1 {
		text-align: center
	}
}

@media (min-width: 480px) {
	button.panel-rt1 {
		text-align: center;
		min-width: 60%
	}
}

@media (min-width: 768px) {
	button.panel-rt1 {
		max-width: 50%
	}
}

@media (min-width: 992px) {
	button.panel-rt1 {
		text-align: center;
		min-width: 240px
	}
}

@media (min-width: 1200px) {
	button.panel-rt1 {
		text-align: center
	}
}

span.only-mobile {
	text-align: center;
	font-weight: 100
}

@media (min-width: 320px) {
	span.only-mobile {
		font-weight: 100
	}
}

@media (min-width: 480px) {
	span.only-mobile {
		font-weight: 100
	}
}

@media (min-width: 768px) {
	span.only-mobile {
		text-align: center
	}
}

@media (min-width: 992px) {
	span.only-mobile {
		display: none;
		text-align: center
	}
}

thead.hide-mobile {
	display: none
}

@media (min-width: 320px) {
	thead.hide-mobile {
		text-align: left
	}
}

@media (min-width: 480px) {
	thead.hide-mobile {
		text-align: left
	}
}

@media (min-width: 768px) {
	thead.hide-mobile {
		text-align: left
	}
}

@media (min-width: 992px) {
	thead.hide-mobile {
		display: initial;
		text-align: left
	}
}

div.panel-rt5 {
	text-align: left;
	background: skyblue;
	padding: 40px 0px 50px 0px
}

@media (min-width: 320px) {
	div.panel-rt5 {
		text-align: left
	}
}

@media (min-width: 480px) {
	div.panel-rt5 {
		text-align: left;
		padding: 40px 10px 50px 10px
	}
}

@media (min-width: 768px) {
	div.panel-rt5 {
		text-align: left;
		min-height: 200px;
		margin-top: 50px
	}
}

@media (min-width: 992px) {
	div.panel-rt5 {
		text-align: left;
		min-height: 400px;
		padding: 40px 30px 50px 30px
	}
}

@media (min-width: 1200px) {
	div.panel-rt5 {
		text-align: left
	}
}

.sample.panel-rt5 {
	font-size: inherit
}

@media (min-width: 320px) {
	.sample.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 480px) {
	.sample.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 768px) {
	.sample.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 992px) {
	.sample.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 1200px) {
	.sample.panel-rt5 {
		font-size: inherit;
		text-align: left
	}
}

ul.panel-rt5 {
	font-size: inherit
}

@media (min-width: 320px) {
	ul.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 480px) {
	ul.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 768px) {
	ul.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 992px) {
	ul.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 1200px) {
	ul.panel-rt5 {
		font-size: inherit;
		text-align: left
	}
}

li.panel-rt5 {
	font-size: inherit
}

@media (min-width: 320px) {
	li.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 480px) {
	li.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 768px) {
	li.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 992px) {
	li.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 1200px) {
	li.panel-rt5 {
		font-size: inherit;
		text-align: left
	}
}

table.panel-rt5 {
	font-size: inherit;
	min-width: 100%
}

@media (min-width: 320px) {
	table.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 480px) {
	table.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 768px) {
	table.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 992px) {
	table.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 1200px) {
	table.panel-rt5 {
		font-size: inherit;
		text-align: left
	}
}

tr.panel-rt5 {
	border-bottom: 4px solid lightskyblue;
	background-color: snow
}

@media (min-width: 320px) {
	tr.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 480px) {
	tr.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 768px) {
	tr.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 992px) {
	tr.panel-rt5 {
		font-size: inherit
	}
}

@media (min-width: 1200px) {
	tr.panel-rt5 {
		font-size: inherit;
		text-align: left
	}
}

td.panel-rt5 {
	display: grid;
	min-height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	font-size: large;
	text-align: center;
	font-weight: bolder
}

@media (min-width: 320px) {
	td.panel-rt5 {
		font-weight: bolder
	}
}

@media (min-width: 480px) {
	td.panel-rt5 {
		font-weight: bolder
	}
}

@media (min-width: 768px) {
	td.panel-rt5 {
		font-weight: bolder
	}
}

@media (min-width: 992px) {
	td.panel-rt5 {
		font-weight: bolder;
		display: inline-block;
		font-weight: 500
	}
}

@media (min-width: 1200px) {
	td.panel-rt5 {
		font-weight: 500
	}
}

.paginator-wrapper {
	box-shadow: none
}

@media (min-width: 320px) {
	.paginator-wrapper {
		box-shadow: none
	}
}

@media (min-width: 480px) {
	.paginator-wrapper {
		box-shadow: none
	}
}

@media (min-width: 768px) {
	.paginator-wrapper {
		box-shadow: none
	}
}

@media (min-width: 992px) {
	.paginator-wrapper {
		box-shadow: none
	}
}

ul.paginator {
	padding: 0px;
	margin: 0px;
	min-width: 100%;
	min-height: 50px
}

@media (min-width: 320px) {
	ul.paginator {
		box-shadow: none
	}
}

@media (min-width: 480px) {
	ul.paginator {
		box-shadow: none
	}
}

@media (min-width: 768px) {
	ul.paginator {
		box-shadow: none
	}
}

@media (min-width: 992px) {
	ul.paginator {
		box-shadow: none
	}
}

li.paginator:hover {
	cursor: pointer
}

li.paginator.selected {
	background-color: snow
}

li.paginator {
	display: inline-block;
	width: 100%;
	max-width: 50px;
	text-align: center;
	min-height: 50px;
	line-height: 50px;
	outline: 1px solid skyblue;
	background-color: whitesmoke
}

@media (min-width: 320px) {
	li.paginator {
		box-shadow: none
	}
}

@media (min-width: 480px) {
	li.paginator {
		box-shadow: none
	}
}

@media (min-width: 768px) {
	li.paginator {
		box-shadow: none
	}
}

@media (min-width: 992px) {
	li.paginator {
		box-shadow: none
	}
}

h3 {
	text-align: center
}

@media (min-width: 320px) {
	h3 {
		border: 0px
	}
}

@media (min-width: 480px) {
	h3 {
		border: 0px
	}
}

@media (min-width: 768px) {
	h3 {
		border: 0px
	}
}

@media (min-width: 992px) {
	h3 {
		border: 0px;
		text-align: left
	}
}

@media (min-width: 1200px) {
	h3 {
		border: 0px
	}
}

.icon-facebook {
	background: url("/img/social.png") -11px -12px/10em;
	min-height: 30px
}

.icon-twitter {
	background: url("/img/social.png") -54px -12px/10em;
	min-height: 30px
}

.icon-instagram {
	background: url("/img/social.png") -97px -12px/10em;
	min-height: 30px
}

.icon-linkedin {
	background: url(/img/social.png) -97px -54px/10em;
	min-height: 30px
}

.social-panel {
	background: white;
	padding: 0px 0px 0px 0px;
	position: relative
}

.social-icon {
	margin-top: 0px;
	margin-bottom: 10px;
	display: inline-block;
	image-rendering: -webkit-optimize-contrast;
	width: 38px;
	margin: 10px
}

.social-icon-wrapper-margin {
	margin-top: 6px !important;
	margin-bottom: 10px !important
}

.social-icon-wrapper-2 {
	width: 120px !important
}

.social-icon-wrapper {
	width: 120px;
	background: transparent;
	margin: 0 auto;
	margin-bottom: 20px
}

@media (min-width: 992px) {
	.social-icon-wrapper {
		margin-bottom: 0px
	}
}

.social-icon-wrapper a:hover {
	text-decoration: none
}

@media only screen and (min-width: 768px) {
	.social-icon {
		margin-top: 0px
	}
}

.container-fluid,
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px
}

.wrap__content {
	position: relative
}

.row {
	margin-right: 0px;
	margin-left: 0px
}

@media only screen and (min-width: 768px) {
	.container {
		width: inherit
	}
}

@media only screen and (min-width: 992px) {
	.container {
		width: 970px
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1170px
	}
}

html {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover
}

html,
body {
	height: 100%;
	font-family: "Martel Sans", serif;
	background-size: auto;
	background-repeat: no-repeat
}

body {
	background-color: transparent
}

#wrap {
	height: auto;
	background-color: transparent;
	overflow: hidden
}

@media (min-width: 992px) {
	#wrap {
		min-height: 100%;
		margin: 0px auto -300px;
		padding: 0px 0px 300px;
		background-color: transparent
	}
}

.airtable-embed {
	width: unset;
	min-width: 101%;
	margin-left: -4px
}

.content-wrapper {
	padding: 0px 0px
}

@media (min-width: 320px) {
	.content-wrapper {
		border: 0px
	}
}

@media (min-width: 480px) {
	.content-wrapper {
		border: 0px
	}
}

@media (min-width: 768px) {
	.content-wrapper {
		border: 0px
	}
}

@media (min-width: 992px) {
	.content-wrapper {
		border: 0px;
		margin-bottom: 20px;
		min-height: 480px
	}
}

@media (min-width: 1200px) {
	.content-wrapper {
		border: 0px
	}
}

#footer {
	margin-top: 50px;
	background-color: white;
	z-index: 99999;
	position: relative
}

@media (min-width: 992px) {
	#footer {
		min-height: 300px
	}
}

.bg-white {
	background-color: white !important
}

.block-220 {
	max-width: 220px;
	text-align: center;
	margin: 20px auto;
	display: block
}

header {
	background-color: #001f3f;
}

.header-text-title  img{
	max-width:200px;
}
.header-text-title {
	line-height: 70px;
	margin: 0px;
	font-family: "Martel Sans", serif;
	font-size: 35px;
	color: #001f3f;
	font-weight: 100;
	text-align: center;
	width: 100%;
	display: block;
	padding: 10px;
	transition: linear 2s
}

@media only screen and (min-width: 992px) {
	.header-text-title {
		float: left;
		width: 180px
	}
}

.header-text-title:hover,
.header-text-title:focus,
.header-text-title:active {
	text-decoration: none;
	outline: 0px;
	color: #001f3f;
	transition: linear 2s;
	font-size: 33px
}

.header-text-subtitle {
	text-align: center;
	font-size: 20px;
	color: #001f3f;
	padding: 0px 0px 25px;
	margin: -20 0px 0px;
	line-height: 25px
}

@media only screen and (min-width: 992px) {
	.header-text-subtitle {
		padding: 0px;
		float: right;
		margin: 0px;
		margin-top: 32px;
		margin-right: 30px
	}
}

.header-text-cities {
	text-align: center;
	color: navy;
	background-color: #fff;
	margin-bottom: 0px;
	word-spacing: 5px;
	margin-top: 0px;
	font-size: smaller;
	padding: 1px
}

.footer-links-wrapper {
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 5px
}

@media only screen and (max-width: 992px) {
	.footer-links-wrapper {
		margin-bottom: 100px
	}
}

@media only screen and (min-width: 992px) {
	.footer-links-wrapper {
		max-width: 704px;
		margin: 0 auto;
		margin-top: 26px;
		margin-bottom: 12px;
		background-color: #fff;
		padding-top: 0px
	}
}

.footer-link {
	margin: 0 auto;
	padding-left: 0px;
	background-color: #001f3f
}

@media only screen and (min-width: 992px) {
	.footer-link {
		min-width: 225px;
		display: inline-block;
		background-color: transparent
	}
}

.footer-link a {
	padding: 15px;
	color: white;
	font-size: x-large;
	line-height: 80px;
	text-align: center;
	width: 100%;
	display: block
}

@media only screen and (min-width: 992px) {
	.footer-link a {
		color: #001f3f;
		padding: 0px;
		border-top: 0;
		background: transparent;
		text-align: center;
		vertical-align: unset;
		display: block;
		line-height: 100px;
		position: relative;
		top: 4px
	}
}

.footer-link a:hover {
	color: grey
}

.footer__text {
	color: navy;
	font-weight: 100;
	line-height: 24px;
	padding: 20px 40px;
	margin: 0px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1.1px
}

.footer__text-right {
	text-align: center
}

@media only screen and (min-width: 992px) {
	.footer__text-right {
		float: right;
		padding: 0px 10px 0px 0px
	}
}

.content-wrapper-padding-top {
	padding-top: 50px
}

.content-wrappet-margin-vertical {
	margin-top: 10px;
	margin-bottom: 10px !important
}

.work-description {
	margin-bottom: 20px !important
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 0px;
	border-radius: 0px;
	box-shadow: none
}

.paragraph {
	font-size: 20px;
	background-color: white;
	margin-top: 10px;
	padding: 40px 30px;
	border-radius: 20px
}

.paragraph-layout {
	font-size: 20px;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px
}

.big-centered-logo {
	width: 100px;
	filter: contrast(1.55);
	margin: 0 auto;
	display: block;
	margin-bottom: 40px !important
}

.left-subtitle {
	line-height: 29px;
	text-align: left;
	display: block;
	color: black;
	font-family: "Martel Sans", serif;
	padding: 30px 30px 0px;
	font-size: 22px;
	font-weight: 900;
	margin: 0px auto;
	background-color: white
}

.article-title,
.jumbotron h1.article-title {
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 20px;
	color: deepskyblue
}

.panel {
	border-radius: 0px
}

.panel-stack {
	margin: 0px
}

.jumbotron {
	background: azure
}

.list-great-1 {
	list-style: none;
	margin: 0px;
	padding: 0px
}

.list-great-1-item {
	background: transparent;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 15px;
	font-size: small;
	color: black;
	line-height: 20px
}

h4 {
	margin-top: 20px;
	margin-bottom: 10px
}

.center {
	text-align: center
}

.slider {
	min-height: 38vw;
	background-size: cover;
	border: 0px;
	background-repeat: no-repeat;
	transition: background 0.3s linear;
	position: relative
}

.slider-text-block {
	position: absolute;
	display: block;
	left: 10px;
	bottom: 10px
}

.mobile-tile {
	font-size: large;
	text-align: center;
	margin-bottom: 25px;
	line-height: 27px;
	word-spacing: 1px
}

.mobile-margin-top {
	margin-top: 30px
}

.stationf-image {
	width: 25%;
	display: block
}

@media only screen and (min-width: 768px) {
	.panel-sm {
		background: transparent;
		border: 0px;
		box-shadow: none
	}
}

@media only screen and (min-width: 992px) {
	.mobile-margin-top {
		margin-top: 0px
	}
	.panel {
		border-radius: 4px
	}
}

@media only screen and (min-width: 1200px) {
	.mobile-tile {
		text-align: left
	}
}

.unstyled-list {
	list-style: none;
	padding: 0px
}

.italic-centered-text {
	text-align: center;
	font-style: italic
}

@media (min-width: 320px) {
	.italic-centered-text {
		border: 0px
	}
}

@media (min-width: 480px) {
	.italic-centered-text {
		border: 0px
	}
}

@media (min-width: 768px) {
	.italic-centered-text {
		border: 0px
	}
}

@media (min-width: 992px) {
	.italic-centered-text {
		border: 0px;
		text-align: left
	}
}

@media (min-width: 1200px) {
	.italic-centered-text {
		border: 0px
	}
}

.cronology-list {
	text-align: center;
	list-style: none;
	margin: 0px;
	padding: 0px
}

@media (min-width: 320px) {
	.cronology-list {
		border: 0px
	}
}

@media (min-width: 480px) {
	.cronology-list {
		border: 0px
	}
}

@media (min-width: 768px) {
	.cronology-list {
		border: 0px
	}
}

@media (min-width: 992px) {
	.cronology-list {
		border: 0px;
		text-align: left
	}
}

@media (min-width: 1200px) {
	.cronology-list {
		border: 0px
	}
}

.cronology-year {
	text-align: center;
	padding: 0px;
	margin: 15px 0px 0px 0px;
	font-weight: bold
}

@media (min-width: 320px) {
	.cronology-year {
		border: 0px
	}
}

@media (min-width: 480px) {
	.cronology-year {
		border: 0px
	}
}

@media (min-width: 768px) {
	.cronology-year {
		border: 0px
	}
}

@media (min-width: 992px) {
	.cronology-year {
		border: 0px;
		text-align: left
	}
}

@media (min-width: 1200px) {
	.cronology-year {
		border: 0px
	}
}

.services-title {
	font-size: large;
	text-align: center
}

.services-title span {
	font-size: 15px
}

.service-link {
	width: 100%;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	display: block;
	max-width: 280px;
	margin: 20px auto;
	border: 1px solid #000;
	padding: 30px;
	text-align: left;
	padding-left: 20px
}

@media (min-width: 320px) {
	.service-link {
		text-decoration: none
	}
}

@media (min-width: 480px) {
	.service-link {
		text-decoration: none
	}
}

@media (min-width: 768px) {
	.service-link {
		text-decoration: none
	}
}

@media (min-width: 992px) {
	.service-link {
		text-decoration: none
	}
}

@media (min-width: 1200px) {
	.service-link {
		text-decoration: none
	}
}

.service-link__span {
	float: right
}

@media (min-width: 992px) {
	.service-link__span {
		float: right
	}
}

.service_link__span_coming_soon {
	font-size: 12px;
	color: darkseagreen;
	text-align: right;
	width: 100%;
	display: block
}

.service_link__span_type {
	font-size: 12px;
	color: dodgerblue;
	text-align: right;
	width: 100%;
	display: block
}

.service_link__span_facebook {
	font-size: 12px;
	color: dodgerblue;
	text-align: right;
	width: 100%;
	display: block
}

.section-p {
	margin-top: 10px;
	font-size: 13px;
	text-align: left;
	margin-bottom: 25px;
	line-height: 21px;
	word-spacing: 2px
}

@media (min-width: 320px) {
	.section-p {
		border: 0
	}
}

@media (min-width: 480px) {
	.section-p {
		border: 0
	}
}

@media (min-width: 768px) {
	.section-p {
		border: 0
	}
}

@media (min-width: 992px) {
	.section-p {
		border: 0
	}
}

@media (min-width: 1200px) {
	.section-p {
		border: 0
	}
}

.text-sitemap {
	font-size: 10px;
	margin: 20px;
	text-align: center
}

@media (min-width: 992px) {
	.text-sitemap {
		font-size: 10px;
		margin: 80px 20px 0px;
		text-align: center
	}
}

.service-text {
	font-size: 12px;
	font-weight: 100
}

.text-slider {
	text-align: center;
	font-size: 20px;
	background-color: transparent;
	color: white;
	margin: 0px;
	line-height: 25px;
	float: left;
	font-size: 5vw;
	line-height: 5vw
}

.section-title {
	text-align: left;
	color: #fff;
	font-family: "Martel Sans", serif;
	padding: 20px;
	font-weight: 100;
	background: #001f3f;
	font-size: 16px;
	margin: 0px;
	font-size: 1.5em;
	display: none
}

@media (min-width: 320px) {
	.section-title {
		border: 0
	}
}

@media (min-width: 480px) {
	.section-title {
		border: 0
	}
}

@media (min-width: 768px) {
	.section-title {
		border: 0
	}
}

@media (min-width: 992px) {
	.section-title {
		border: 0;
		display: block;
		margin-top: 30px
	}
}

@media (min-width: 1200px) {
	.section-title {
		border: 0
	}
}

.centered-title {
	line-height: 38px;
	text-align: center;
	display: block;
	color: oldlace;
	font-family: "Martel Sans", serif;
	padding: 20px 0px 20px 0px;
	font-size: 35px;
	font-weight: 900;
	background: black;
	margin: 0px auto 0px;
	font-size: 22px
}

@media (min-width: 320px) {
	.centered-title {
		border: 0px
	}
}

@media (min-width: 480px) {
	.centered-title {
		border: 0px;
		font-size: 35px
	}
}

@media (min-width: 768px) {
	.centered-title {
		border: 0px
	}
}

@media (min-width: 992px) {
	.centered-title {
		border: 0px;
		text-align: left;
		padding: 10px 30px;
		width: 100%;
		display: block;
		margin: 0px;
		max-width: none
	}
}

@media (min-width: 1200px) {
	.centered-title {
		border: 0px
	}
}

.back-btn:active,
.back-btn:hover {
	text-decoration: none
}

.back-btn {
	border: 0px;
	background: white;
	width: 100%;
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	font-weight: 800;
	color: black;
	text-shadow: none
}

@media (min-width: 320px) {
	.back-btn {
		border: 0px
	}
}

@media (min-width: 480px) {
	.back-btn {
		border: 0px
	}
}

@media (min-width: 768px) {
	.back-btn {
		border: 0px
	}
}

@media (min-width: 992px) {
	.back-btn {
		border: 0px;
		text-align: left
	}
}

@media (min-width: 1200px) {
	.back-btn {
		border: 0px
	}
}

.thumbnail_project {
	min-height: 720px
}

.thumbnail_project img {
	max-height: 510px
}

.gutter-1>[class*='col-'] {
	padding-right: 10px !important;
	padding-left: 10px !important
}